<!-- Footer -->
<footer class="bg-light text-lg-start text-muted border-top">
    <!-- Grid container -->
    <div class="container p-4 ">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-4">
                <h5 class="fw-bold mb-4">
                    {% comment %}
                    <a class="text-muted" href="{% url 'coinanser:market_data' %}">Coinanser</a>
                    {% endcomment %}
                </h5>
                <p>
                    참고서적:
                    <a class="text-muted" href="https://wikidocs.net/book/4223" target='_blank'>점프 투 장고</a>
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-4">
                <h5 class="bold mb-4">SangGyeom Kim</h5>

                <p>
                    e-mail:
                    <a class="text-muted" href="mailto:vhf1030@naver.com">vhf1030@naver.com</a>
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
</footer>
