{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>MetaInfo List</h2>
    <form method="get">
<!--        <select name="loc_2_filter">-->
        <select name="loc_2_filter" class="form-control-sm">
            {% for choice in loc_2_choices %}
            <option value="{{ choice }}" {% if choice == loc_2_filter %}selected{% endif %}>
                {{ choice }}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="필터 적용" class="btn btn-primary mt-2">
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>지역</th>
            <th>테마</th>
            <th>리뷰 수</th>
            <th>추천비율</th>
            <th>난이도</th>
            <th>평점</th>
        </tr>
        <tr>
            <th colspan="5">예약 가능 시간</th>
            <th>예약링크</th>
        </tr>
        </thead>
        <tbody>
        {% for theme in theme_list %}
        <tr>
            <td>{{ theme.loc_2 }}</td>
            <td>{{ theme.theme_name }}</td>
            <td>{{ theme.latest_score.total_review }}</td>
            <td>{{ theme.latest_score.recommend_ratio }}</td>
            <td>{{ theme.latest_score.difficulty_score }}</td>
            <td>{{ theme.latest_score.satisfy_score }}</td>
            <!-- 여기에 필요한 다른 필드들의 값을 추가하세요 -->
        </tr>
        <tr>
            <td colspan="5">
                {% for rsv_info in theme.latest_reserve_info %}
                    {{ rsv_info.rsv_datetime|date:"m/d H:i" }} &emsp;
                    {% if forloop.counter|divisibleby:8 %}
                    <br>
                    {% endif %}
                {% endfor %}
            </td>
            <td style="white-space: nowrap;"><a href="{{ theme.rsv_url }}" target="_blank"> 예약하기 </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
